a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}
body .h2-custom {
  font-size: 65px;
  font-weight: 600;
}
body .row-1 p {
  max-width: 900px;
}

/* Header */
.header .logo {
  width: 279px;
  height: 67px;
}
.header .nav-bar-list {
  margin-bottom: 0;
}
.header .nav-btn {
  min-width: 188px;
  padding: 14px 16px;
  background-color: #FD6F00;
  outline: none;
  border: none;
}
.header .header-hero {
  margin-top: 120px;
}
.header .hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .hero-img {
  width: 538px;
  height: 617px;
  object-fit: cover;
}
.header .header-hero-desc {
  color: header-hero-desc;
}
.header .sub-title {
  font-size: 100px;
  line-height: 90px;
  font-weight: 700;
  margin-bottom: 28px;
}
.header .sub-title mark {
  display: block;
  margin-left: 100px;
  padding: 0;
  background: transparent;
}
.header .hero-btn {
  min-width: 188px;
  padding: 14px 16px;
  background-color: #FD6F00;
  outline: none;
  border: none;
}
.header .icon {
  padding: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.header .icon-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
@media screen and (max-width: 992px) {
  .header .sub-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
  }
  .header .header-desc {
    text-align: justify;
  }
  .header .header-hero .hero-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

.main {
  margin-top: 70px;
}
.main .about .about-avatar-group {
  display: flex;
}
.main .about .about-avatar-group img {
  width: 545px;
  height: 545px;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .main .about .about-avatar-group img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}
.main .services {
  margin-top: 140px;
}
.main .services .row-1 p {
  max-width: 900px;
}
.main .services .card {
  padding: 36px 18px;
  margin-bottom: 20px;
}
.main .services .card .card-app {
  width: 47px;
  height: 82px;
  object-fit: cover;
}
.main .services .card .card-web {
  width: 72px;
  height: 82px;
  object-fit: cover;
}
.main .services .card .card-graphic {
  width: 82px;
  height: 70px;
  object-fit: cover;
}
.main .services .card .card-ui {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.main .project {
  margin-top: 140px;
}
.main .project .btn-ground {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  align-items: center;
}
.main .project .btn-ground .btn-primary {
  background-color: white;
}
.main .project .btn-ground .btn-primary:hover {
  background-color: #FD6F00;
  border: none;
}
@media screen and (max-width: 992px) {
  .main .testimonials {
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .main .testimonials .h2-custom {
    font-size: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .main .testimonials .h2-custom .lead {
    text-align: justify;
  }
}
.main .testimonials .carousel-item {
  max-width: 1087px;
  background-color: #F8F8F8;
  border-radius: 14px;
}
.main .testimonials .carousel-item .mark {
  color: #FD6F00;
  background-color: transparent;
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  font-style: italic;
}
.main .testimonials .carousel-indicators button {
  background-color: #FD6F00;
}
.main .together {
  width: 932px;
}
@media screen and (max-width: 992px) {
  .main .together {
    width: 100%;
  }
  .main .together .h2-custom {
    font-size: 50px;
    text-align: center;
  }
  .main .together .lead {
    text-align: justify;
  }
  .main .together .input-group {
    min-height: 52px;
  }
  .main .together input {
    min-height: 52px;
    margin-left: 12px;
  }
  .main .together button {
    min-height: 52px;
  }
}
.main .together p {
  font-weight: 400;
  line-height: 31px;
}
.main .together .form-control-custom {
  max-width: 627px;
  min-height: 75px;
  margin-right: 12px;
  border-radius: 14px;
  background-color: #AFAFAF;
}
.main .together .form-control-custom ::placeholder {
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  color: #F8F8F8;
  padding: 22px 26px;
}
.main .together button {
  min-height: 75px;
  border-radius: 14px;
}

.footer {
  margin-top: 139px;
}
.footer .contac-footer-group {
  padding: 26px 0;
  background: #545454;
  color: white;
  margin-bottom: 20px;
}
.footer .contac-footer {
  max-width: 440px;
}
.footer .contac-footer p > mark {
  color: #FD6F00;
  background-color: transparent;
}

/*# sourceMappingURL=customize.css.map */
